body{
  background: url(../images/Background.png);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: #777;
}

h1,
h2,
h3{
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
}

.container{
  padding: 0;
}
  /* NAVBAR */

.navbar.navbar-default,
.navbar-brand{
  border-bottom: 2px solid #ccc;
  height: inherit;
  text-align: center;
  margin: 0 auto;
}

#brand-name{
  font-family: Georgia, Times, "Times New Roman", serif;
  border: none;
  font-size: 25px;
  font-weight: 700;
  line-height: 70px;
  color: #fff;
  text-align: center;
  vertical-align: baseline;
  background: #4aaaa5;
}

.nav.navbar-nav.navbar-right#pages{
  padding: 15px;
  color: #999;
  line-height: 75px;
}

/* MAIN-SECTION */

#main-section{
  margin: 20px 0;
}

.col-md-7{
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 30px;
}

.main-bio h1{
  border-bottom: 3px solid #ddd;
  line-height: 49px;
  padding-bottom: 20px;
  color: #4aaaa5;
}

.main-bio figure{
  text-align: center;
  padding: 20px;
}

.col-md-1.filler{
  padding:0;
  margin:0;
}

#connect-box{
  border: 2px solid #ddd;
  background: #fff;
  text-align: center;
}

a > img{
  width: 62px;
  height: 62px;
  margin-top: 8px;
  margin-right: 5px;
}


.col-md-4{
  padding: 30px;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #ddd;
}

.connect-header h2 {
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #eee;
  color: #4aaaa5;
}

/* FOOTER */

.col-md-12#footer{
  text-align: center;
  position: relative;
  bottom: 0;
  font-size:12px;
  color:#fff;
  background: #666;
  border-top: 8px solid #4aaaa5;
  padding: 30px 0;
}

/* CONTACT PAGE */

.contact-form h1{
  border-bottom: 3px solid #ddd;
  line-height: 49px;
  color: #4aaaa5;
  padding-bottom: 20px;
  margin:0;
}

.contact-form {
  background: #fff;
  margin: 0;
}

input[type=text],
input[type=email],
textarea{
  border: 1px solid #ddd;
  width: 100%;
  padding: 0 15px;
}

textarea[name=message]{
  height: 200px;
}

input::placeholder{
  color: #ccc;
  font-size: 16px;
}

button[type=submit]{
  margin: 0;
  padding: 10px 30px;
  font-size: 18px;
  color: #fff;
  background: #4aaaa5;
}

/*PORTFOLIO*/

.col-md-12 > .thumbnail{
  border: none;
}

#tech{
  padding: 0 15px;
}

.head > h3{
  text-align: center;
  background: #4aaaa5;
  color: #ffffff;
  padding: 20px 0;
  position: relative;
  top: -100px;
}





